/********** 
	Sara María Ramírez Pérez - UO276188 
	Estilos comunes a los elementos multimedia
**********/

/*Especificidad: 003*/
body main video{
	width: 50vw;
}


/*Especificidad: 003*/
body main audio {
	width: 50vw;
}

/*Especificidad: 003*/
body footer img{
	width: 5vw;
}