/********** 
	Sara María Ramírez Pérez - UO276188 
	Estilos comunes a todo el sitio web
**********/

/*Especificidad: 003*/
body main video{
	width: 50vw;
}

/*Especificidad: 003*/
body main img{
	width: 40vw;
}

/*Especificidad: 003*/
body main audio {
	width: 50vw;
}

/*Especificidad: 003*/
body footer img{
	width: 5vw;
}