/********** 
	Sara María Ramírez Pérez - UO276188 
	Maquetación
**********/

/*Especificidad: 001*/
body {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: 
	"header header"
	"nav main"
	"footer footer";
	column-gap: 1em;
	row-gap: 1em;
}

/*Especificidad: 002*/
body header{
	grid-area: header;
	justify-self: stretch;
	align-self: stretch;
	justify-items: center;
}
/*Especificidad: 002*/
body main{
	grid-area: main;
	justify-items: stretch;
}

/*Especificidad: 002*/
body nav {
	grid-area: nav;
	justify-self: stretch;
}

/*Especificidad: 002*/
body footer{
	grid-area: footer;
}	
